@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&display=swap');

:root {
    --bg: #0d1115;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    color: var(--text);
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
}

#rocketContainer, #buttonContainer {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonContainer {
    flex-direction: column;
    width: 25%;
    margin: 25px 0;
}

#rocketContainer {
    width: 50%;
}

#colorfulContainer {
    width: 500px;
    height: 700px;
    background-color: #8257e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
    border: 1px solid white;
    transition: background-color .5s;
}

#rocketCard {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background-color: var(--bg-card);
    border-radius: 40px;
    padding: 10px;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#card-header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3%;
    justify-content: start;
    margin: 5%;
}

.logo-top {
    border: 1px solid white;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 30px;
}

h2 {
    text-align: center;
}

#info-mini-card {
    background-color: #1c1c1c9c;
    padding: 25px;
    border-radius: 25px;
    width: 50%;
    min-width: 185px;
    position: absolute;
    left: 7%;
    top: 50%;
    backdrop-filter: blur(5px);
}

.minor-info {
    display: flex;
    margin-top: 8px;
    gap: 5px;
}

#bottom-title {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    margin: 5%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#bottom-text {
    font-size: 1.25em;
    font-weight: 400;
}

#card-header, #info-mini-card, #bottom-title {
    z-index: 1;
}

#profilePic {
    border: 10px solid var(--img-profile);
    border-radius: 999px;
    position: absolute;
    top: 15%;
    right: -10%;
    z-index: 0;
    width: 80%;
    transition: border .5s;
}

button {
    background-color: black;
    border: 1px solid var(--border-button);
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    margin: 20px 0;
    font-size: 1.05em;
}

button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
}

button:active {
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.596);
}

@media only screen and (max-width: 1024px) {
    body {
        justify-content: space-around;
    }
    #buttonContainer {
        width: min-content;
    }
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
        height: unset;
    }
    #buttonContainer,#rocketContainer {
        width: 98%
    }
    #rocketCard {
        min-width: 288px;
    }
}
